.homepage {
  min-height: 100vh;
  &__detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    h1 {
      font-family: "Kanit", sans-serif;
      font-weight: 200;
      font-size: clamp(1.5rem, 2.2rem, 3rem);
      margin: 30px 20px;
    }
    p {
      font-size: 1.3rem;
    }
    &__container {
      max-width: 500px;
      @media screen and (max-width: 600px) {
        width: 95%;
      }
    }
  }
  .tree {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
