.leaf {
  background: #b6d369;
  margin: calc(1vw - 5px);
  font-size: calc(1vw - 0.1rem);
  word-wrap: nowrap;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: calc(1vw + 10px);
  @media screen and (max-width: 700px) {
    font-size: 0.5rem;
  }
  @media screen and (max-width: 500px) {
    font-size: 0.4rem;
    padding: calc(1vw - 1px);
    margin: calc(1vw - 4px);
  }
}
.left {
  border-radius: 0 80%;
}
.right {
  border-radius: 80% 0;
}

.log {
  background: #b2945b;
  font-size: calc(1vw - 0.1rem);
  text-align: center;
  grid-area: log;
  padding: 2rem 0.5rem;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  @media screen and (max-width: 700px) {
    font-size: 0.5rem;
  }
}

.apple {
  position: relative;
  grid-area: cousins;
  width: 80px;
  margin-top: 22px;
  min-height: 80px;
  font-size: 0;
  ul {
    font-size: calc(1vw - 0.09rem);
    list-style: none;
    position: absolute;
    left: 48%;
    top: 15%;
    @media screen and (max-width: 700px) {
      font-size: 0.5rem;
      left: 70%;
    }
  }
  @media screen and (max-width: 700px) {
    width: 80%;
    height: 80%;
    margin-top: 10px;
  }
}
.apple:before,
.apple:after {
  position: absolute;
  content: "";
  z-index: -1;
  left: 50px;
  top: 0;
  width: 100%;
  height: 100%;
  background: #e17055;
  border-radius: 50px 50px 50% 50%;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.apple:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.p-gfather {
  grid-area: pgf;
}
.p-gmother {
  grid-area: pgm;
}
.m-gfather {
  grid-area: mgf;
}
.m-gmother {
  grid-area: mgm;
}
.p-uncle {
  grid-area: pu;
}
.p-aunt {
  grid-area: pa;
}
.father {
  grid-area: f;
}
.mother {
  grid-area: m;
}
.m-uncle {
  grid-area: mu;
}
.m-aunt {
  grid-area: ma;
}
.tree-container {
  margin: 10px 0;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    ". pgf pgm . . . mgm mgf ."
    ". . . . . . . . ."
    ". pu pa f . m ma mu ."
    ". . cousins . . . . . ."
    ". . . . log . . . .";
}
