@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Kanit&family=Rubik:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  color: #292f36;
  p {
    line-height: 2rem;
  }
}
footer {
  text-align: center;
  background: #93c48b;
  padding: 3rem 0;
  a {
    text-decoration: underline;
    color: inherit;
  }
}
.React-Link {
  text-decoration: none;
  color: inherit;
}

.logout {
  min-height: 75.1vh;
  overflow: hidden;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@import "./_nav";
@import "./_home";
@import "./_login";
@import "./_register";
@import "./_tree";
@import "./_userpage";
@import "./_loader";
@import "./_modal";
@import "./_member-form";
