@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Kanit&family=Rubik:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  color: #292f36;
}

body p {
  line-height: 2rem;
}

footer {
  text-align: center;
  background: #93c48b;
  padding: 3rem 0;
}

footer a {
  text-decoration: underline;
  color: inherit;
}

.React-Link {
  text-decoration: none;
  color: inherit;
}

.logout {
  min-height: 75.1vh;
  overflow: hidden;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Kanit", sans-serif;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 10px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.nav__link {
  text-decoration: none;
  color: inherit;
}

.nav__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav__brand__name {
  font-family: "Italianno", cursive;
  font-size: 2rem;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-weight: 200;
}

.nav__brand__logo {
  margin: 10px;
  height: 50%;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px 0;
}

.nav__list__item {
  margin: 0 5px;
  list-style: none;
  margin-left: 20px;
}

.nav__list__item:hover {
  color: #898952;
}

.nav__list__item--button {
  color: #898952;
  border: 2px solid #898952;
  padding: 5px 15px;
  border-radius: 15px 0 15px 0;
  -webkit-transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav__list__item--button:hover {
  background: #898952;
  color: white;
}

.nav__list__link {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 400px) {
  .nav {
    font-size: 70%;
  }
  .nav__brand__logo {
    height: 30%;
  }
  .nav__brand__name {
    font-size: 1.5rem;
  }
}

.homepage {
  min-height: 100vh;
}

.homepage__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

.homepage__detail h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-size: clamp(1.5rem, 2.2rem, 3rem);
  margin: 30px 20px;
}

.homepage__detail p {
  font-size: 1.3rem;
}

.homepage__detail__container {
  max-width: 500px;
}

@media screen and (max-width: 600px) {
  .homepage__detail__container {
    width: 95%;
  }
}

.homepage .tree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 80vh;
}

.login__title {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-size: clamp(1.5rem, 3vw, 3rem);
  margin: 50px;
}

.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.login__form--container {
  margin: auto 0;
}

.login__form input:not(.login__form__button) {
  border: 0;
  color: inherit;
  border-bottom: 2px solid currentColor;
  padding: 10px;
  font-size: clamp(1rem, 2.5vw, 1.1rem);
  font-family: inherit;
  margin: 20px 0;
  position: relative;
}

.login__form input:not(.login__form__button):focus {
  outline: none;
  border-color: #898952;
}

.login__form__button {
  color: white;
  border: 2px solid #898952;
  font-size: clamp(1rem, 2.5vw, 1.1rem);
  font-family: inherit;
  margin: 20px 0;
  padding: 5px 15px;
  border-radius: 15px 0 15px 0;
  background: #898952;
  -webkit-transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.login__form__button:hover {
  background: white;
  color: #898952;
}

.login__form__alternatives {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.login__form__alternatives p {
  margin: 10px;
}

.messages {
  padding: 0.5rem 3rem;
  color: #05c005;
}

.messages--err {
  color: red;
}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 80vh;
}

.register__title {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-size: clamp(1.5rem, 3vw, 3rem);
  margin: 50px;
}

.register__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.register__form--container {
  margin: auto 0;
}

.register__form input:not(.register__form__button) {
  border: 0;
  color: inherit;
  border-bottom: 2px solid currentColor;
  padding: 10px;
  font-size: clamp(1rem, 2.5vw, 1.1rem);
  font-family: inherit;
  margin: 20px 0;
  position: relative;
}

.register__form input:not(.register__form__button):focus {
  outline: none;
  border-color: #898952;
}

.register__form__button {
  color: white;
  border: 2px solid #898952;
  font-size: clamp(1rem, 2.5vw, 1.1rem);
  font-family: inherit;
  margin: 20px 0;
  padding: 5px 15px;
  border-radius: 15px 0 15px 0;
  background: #898952;
  -webkit-transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.register__form__button:hover {
  background: white;
  color: #898952;
}

.register__form__alternatives {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.register__form__alternatives p {
  margin: 10px 70px;
}

.home-apple {
  position: relative;
  grid-row: 4;
  grid-column: 3;
  grid-area: pcousins;
  width: 80px;
  margin-top: 22px;
  min-height: 80px;
  font-size: 0;
}

.home-apple ul {
  font-size: calc(1vw - 0.09rem);
  list-style: none;
  position: absolute;
  left: 48%;
  top: 15%;
}

@media screen and (max-width: 700px) {
  .home-apple ul {
    font-size: 0.5rem;
    left: 70%;
  }
}

@media screen and (max-width: 700px) {
  .home-apple {
    width: 80%;
    height: 80%;
    margin-top: 10px;
  }
}

.home-apple:before,
.home-apple:after {
  position: absolute;
  content: "";
  z-index: -1;
  left: 50px;
  top: 0;
  width: 100%;
  height: 100%;
  background: #e17055;
  border-radius: 50px 50px 50% 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.home-apple:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.leaf {
  background: #b6d369;
  margin: calc(1vw - 5px);
  font-size: calc(1vw - 0.1rem);
  word-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: calc(1vw + 10px);
}

@media screen and (max-width: 700px) {
  .leaf {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 500px) {
  .leaf {
    font-size: 0.4rem;
    padding: calc(1vw - 1px);
    margin: calc(1vw - 4px);
  }
}

.left {
  border-radius: 0 80%;
}

.right {
  border-radius: 80% 0;
}

.log {
  background: #b2945b;
  font-size: calc(1vw - 0.1rem);
  text-align: center;
  grid-row: 5;
  grid-column: 5;
  grid-area: log;
  padding: 2rem 0.5rem;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

@media screen and (max-width: 700px) {
  .log {
    font-size: 0.5rem;
  }
}

.apple {
  position: relative;
  width: 80px;
  margin-top: 22px;
  font-size: 0;
  height: 80px;
}

.apple ul {
  font-size: calc(1vw - 0.08rem);
  list-style: none;
  position: absolute;
  left: 45%;
}

@media screen and (max-width: 700px) {
  .apple ul {
    font-size: 0.5rem;
    left: 70%;
  }
}

@media screen and (max-width: 700px) {
  .apple {
    width: 80%;
    height: 80%;
    margin-top: 10px;
  }
}

.apple:before,
.apple:after {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  background: #e17055;
  border-radius: 50px 50px 50% 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.apple:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.paternal-apple {
  grid-row: 4;
  grid-column: 3;
  grid-area: pcousins;
}

.maternal-apple {
  grid-row: 4;
  grid-column: 7;
  grid-area: mcousins;
}

.p-gfather {
  grid-row: 1;
  grid-column: 2;
  grid-area: pgf;
}

.p-gmother {
  grid-row: 1;
  grid-column: 3;
  grid-area: pgm;
}

.m-gfather {
  grid-row: 1;
  grid-column: 8;
  grid-area: mgf;
}

.m-gmother {
  grid-row: 1;
  grid-column: 7;
  grid-area: mgm;
}

.p-uncle {
  grid-row: 3;
  grid-column: 2;
  grid-area: pu;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-aunt {
  grid-row: 3;
  grid-column: 3;
  grid-area: pa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.father {
  grid-row: 3;
  grid-column: 4;
  grid-area: f;
}

.mother {
  grid-row: 3;
  grid-column: 6;
  grid-area: m;
}

.m-uncle {
  grid-row: 3;
  grid-column: 8;
  grid-area: mu;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-aunt {
  grid-row: 3;
  grid-column: 7;
  grid-area: ma;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.siblings {
  grid-row: 6;
  grid-column: 2;
  grid-column-span: 7;
  grid-area: siblings;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.siblings .sibling {
  margin: 5px;
  padding: 10px;
  font-size: calc(1vw - 0.1rem);
  background-color: #b6d369;
}

@media screen and (max-width: 700px) {
  .siblings .sibling {
    font-size: 0.5rem;
  }
}

.tree-container {
  margin: 10px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(9, 1fr);
  -ms-grid-rows: (1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    ". pgf pgm . . . mgm mgf ."
    ". . . . . . . . ."
    ". pu pa f . m ma mu ."
    ". . pcousins . . . mcousins . ."
    ". . . . log . . . ."
    ". siblings siblings siblings siblings siblings siblings siblings .";
}

.userpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.userpage__title {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-size: clamp(1.5rem, 2.2rem, 3rem);
  margin: 30px 20px;
}

.userpage__title span {
  text-decoration: underline;
}

.userpage__instruction {
  font-family: "Rubik";
  font-size: 1.3rem;
  margin-bottom: 50px;
}

@media screen and (max-width: 700px) {
  .userpage__instruction {
    font-size: 1rem;
  }
}

.userpage__settings {
  position: fixed;
  bottom: 10px;
  cursor: pointer;
  right: 4px;
}

.userpage__settings img {
  height: 40px;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.account {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.account div {
  margin: 0 10px;
}

.account .account-password form h2 {
  margin-bottom: 10px;
}

.account .account-password form .changepassbtn {
  all: initial;
  background: #b2945b;
  text-align: center;
  margin: 20px 10px;
  padding: 10px 45px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: "Rubik";
  border: 2px solid #b2945b;
  color: white;
  cursor: pointer;
}

.account .account-password form .changepassbtn:hover {
  color: #b2945b;
  background-color: white;
}

.account .account-remove button {
  all: initial;
  background: #e17055;
  text-align: center;
  margin: 20px 10px;
  padding: 10px 45px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: "Rubik";
  border: 2px solid #e17055;
  color: white;
  cursor: pointer;
}

.account .account-remove button:hover {
  color: #e17055;
  background-color: white;
}

.title-account {
  margin-top: 30px;
}

.loader {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2rem;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #292f36;
  font-family: "Rubik";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  margin: 40px;
}

.modal-form__title {
  font-family: "Kanit";
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 0 30px 0;
}

.modal-form__parent-form {
  width: 100%;
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal-form__parent-form input:not(.modal-form__parent-form__button) {
  padding: 10px 40px;
  font-family: "Rubik";
  font-size: 1rem;
  width: 96%;
  margin: 5px auto;
  border: 1px solid black;
}

.modal-form__parent-form__button {
  all: initial;
  background: #b2945b;
  text-align: center;
  padding: 10px 40px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: "Rubik";
  border: 2px solid #b2945b;
  color: white;
  margin: 5px;
  cursor: pointer;
}

.modal-form__parent-form__button:hover {
  color: #b2945b;
  background-color: white;
}

.member-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 2px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.member-box {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  width: 300px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.member-box ul {
  height: 180px;
  padding: 15px;
  overflow-y: scroll;
}

.member-box .add-member {
  all: initial;
  background: #b2945b;
  font-family: "Rubik";
  text-align: center;
  padding: 10px 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: white;
  border: 2px solid #b2945b;
  margin: 5px 10px;
  cursor: pointer;
}

.member-box .add-member:hover {
  color: #b2945b;
  background-color: white;
}

.member-box .member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 2px;
}

.member-box .member .buttons button {
  border: 0;
  background: #b6d369;
  cursor: pointer;
  padding: 5px 10px;
  color: #292f36;
  margin: 0 5px;
}

.member-box .member .buttons button:last-of-type {
  background-color: #e17055;
}

.form-settings {
  position: fixed;
  bottom: 10px;
  cursor: pointer;
  right: 4px;
}

.form-settings img {
  height: 40px;
}

.memberadd-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #292f36;
  font-family: "Rubik";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 40px;
}

.memberadd-form__title {
  font-family: "Kanit";
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 0 30px 0;
}

.memberadd-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.memberadd-form__form select,
.memberadd-form__form input:not(.modal-form__btn) {
  padding: 10px 40px;
  font-family: "Rubik";
  font-size: 1rem;
  width: 100%;
  margin: 5px;
  border: 1px solid black;
}

#btn {
  all: initial;
  background: #b2945b;
  text-align: center;
  width: 70%;
  padding: 10px 45px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: "Rubik";
  border: 2px solid #b2945b;
  color: white;
  margin: 5px;
  cursor: pointer;
}

#btn:hover {
  color: #b2945b;
  background-color: white;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.error h1 {
  font-size: 4rem;
}
/*# sourceMappingURL=main.css.map */
